<!DOCTYPE html>
<html>
<head>
	<title>
		Admin
	</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styleAdmin.css', v=1) }}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</head>

<body>

	<nav class="navbar navbar-expand-lg">

  		<div class="container-fluid">
    		<a class="navbar-brand" href="#">Queue management system</a>

      		<span class="navbar-text">
        		Tue, 15:15
      		</span>
  		</div>
	</nav>

	<div class="container-fluid" id="main-part">
		<div class="row">
			<div class="col-lg-2 col-md-2 col-sm-12" id="customers_queue">
				<p class="h3">Queue:</p>

				<div id="customers">
					
				</div>
				
			</div>

			<div class="col-lg-6 col-md-6 col-sm-12 container-fluid" id="operators_queue">

				<div class="container text-center">
  					<div class="row">
    					<div class="col">
      						<p class="h3">Customer</p>
    					</div>
    					
    					<div class="col">
      						<p class="h3">Operator</p>
    					</div>
  					</div>
				</div>
			</div>

      <div class="col-lg-4 col-md-4 col-sm-12" id="admins-tab">

        <div id="workplace_states">
          <p class="h3">Operator's states</p>
        </div>

        <div>
          <button type="button" onclick="addCustomer()">
              <p class="h6">Add customer</p>
            </button>

            <button type="button">
              <p class="h6">Show tickets</p>
            </button>
        </div>
        
      </div>
		</div>
	</div>

</body>

<script>

	function addCustomer(){
		$.ajax({
			type: "POST",
			url: "{{ url_for('addCustomer') }}",
			data: {"add" : 1},
			success: function(response) {

			}
		});
	}

	function getCustomers() {
		$.ajax({
			type: "POST",
			url: "{{ url_for('getCustomers') }}",
			data: {"get": 1},
			success: function(response) {

				$("#customers").empty()

				for (let i = 0; i < response.data.length; i++) {
					$("#customers").append(
						$("<p/>")
							.text(response.data[i])
							.addClass("h1")
					);
				}
			}
		})
	}

	function getWorkplaces() {
		$.ajax({
			type: "POST",
			url: "{{ url_for('getWorkplaces') }}",
			data: {"get": 1},
			success: function(response) {
				$("#operators_queue").empty();
				$("#operators_queue").append(
					`
					<div class="container text-center">
  						<div class="row">
    						<div class="col">
      							<p class="h3">Customer</p>
    						</div>
    					
    						<div class="col">
      							<p class="h3">Operator</p>
    						</div>
  						</div>
					</div>
					`
				);

				let keys = Object.keys(response);
				for (let i = 0; i < keys.length; i++) {
					$("#operators_queue").append(
					`
					<div class="container text-center">
  						<div class="row">
    						<div class="col">
      							<p class="h3">${response[keys[i]]}</p>
    						</div>
    					
    						<div class="col">
      							<p class="h3">${keys[i]}</p>
    						</div>
  						</div>
					</div>
					`
					);
				}
			}
		});
	}

	function getStates() {
		$.ajax({
			type: "GET",
			url: "{{ url_for('getStates') }}",
			data: {"get": 1},
			success: function(response) {
				$("#workplace_states").empty();
				$("#workplace_states").append(`<p class="h3">Operator's states</p>`)
				let keys = Object.keys(response);

				for (let i = 0; i < keys.length; i++) {
					$("#workplace_states").append(`<p class="h5">${keys[i]} - ${response[keys[i]]}</p>`);
				}
			}
		});
	}
	
	setInterval(() => {
		getWorkplaces();
		getCustomers();
		getStates()
	}, 2 * Math.pow(10, 3));

</script>

</html>