body{
	margin: 0;
	padding: 0;
}

.navbar .container-fluid{
	background-color: #87B6FF;
	padding: 10px 20px;
}

.navbar span, .navbar .navbar-brand{
	color: white;
}

.card-group{
	padding: 30px 20px 0px 20px;
}

#login_form{
    margin-top: 10vh;
}

#error_screen .display-3{
    color: #D24B4B;
}

#error_screen{
    text-align: center;
}

.col{
	margin: 0;
	display: flex;
}