body{
	padding: 0;
	margin: 0;
}

.navbar{
	background-color: #87B6FF;
}

.navbar span, .navbar .navbar-brand{
	color: white;
}

#customers_queue{
	background-color: #C3DBFF;
	text-align: center;
	padding-top: 40px;
	height: 100vh;
}

#customers{
	margin-top: 30px;
}

#operators_queue{
	height: 100vh;
	background-color: #E2E2E2;
}

#operators_queue .container:nth-child(1){
	margin-top: 40px;
}

#operators_queue .container .row{
	width: 65%;
	margin: 0 auto;
}

#operators_queue .container:not(:first-child){
	margin-top: 10px;
}

#operators_queue .container:not(:first-child) .row{
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #87B6FF;
	border-radius: 25px;
}

#operators_queue .container:not(:first-child) .row p{
	color: white;
}

#operators_queue .container .row .col:nth-child(1) p{
	text-align: left;
}

#operators_queue .container .row .col:nth-child(2) p{
	text-align: right;
}

#admins-tab{
	text-align: center;
}

#admins-tab div:first-child{
	margin-top: 40px;
}

#admins-tab div:first-child .h3{
	margin-bottom: 20px;
}

#admins-tab div:nth-child(2){
	display: flex;
	justify-content: center;
	margin-top: 50px;
}

#admins-tab div:nth-child(2) button{
	background-color: #87B6FF;
	width: 40%;
	border: 0px;
	border-radius: 10px;
	margin-bottom: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	transition: 0.3s;
}

#admins-tab div:nth-child(2) button:hover{
	width: 45%;
	padding-top: 12px;
	padding-bottom: 12px;
}

#admins-tab div:nth-child(2) button .h6{
	color: white;
}

#admins-tab div:nth-child(2) button:nth-child(2){
	margin-left: 35px;
}

@media screen and (max-width: 767px){
	#operators_queue .container:first-child p{
		font-size: 15px;
	}

	#operators_queue .container .row{
		width: 80%;
	}
}

@media screen and (max-height: 600px){
	#customers_queue{
		height: auto;
		padding-top: 30px;
		padding-bottom: 30px;
	}

	#operators_queue{
		height: auto;
		padding-top: 30px;
		padding-bottom: 30px;
	}
}


